modules = ["nodejs-20"]
run = "npm start"
entrypoint = "server.js"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]

[[ports]]
localPort = 3000
externalPort = 80
